.btn-editar {
  background-color: #f0ad4e; /* tom amarelo */
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-editar:hover {
  background-color: #ec971f;
}

.btn-deletar {
  background-color: #d90429; /* tom vermelho CNA */
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-deletar:hover {
  background-color: #a6001f;
}


.card-header h4 {
  font-size: 1.5rem;
}

.card-header a.btn {
  font-weight: bold;
}

.card-header {
  background-color: #850000; /* substitui o bg-primary */
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.card {
  margin-top: 20px; /* espaçamento externo */
}
.card-header .btn {
  margin-left: 0.5rem;
  border-radius: 8px;
}
/* Quando não há dados na tabela */
.table-empty-message {
  padding: 1rem;
  font-style: italic;
  color: #667;
}

