.btn-editar {
  background-color: #f0ad4e; /* tom amarelo */
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-editar:hover {
  background-color: #ec971f;
}

.btn-deletar {
  background-color: #d90429; /* tom vermelho CNA */
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-deletar:hover {
  background-color: #a6001f;
}
